@import "./common.css";


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
header > .adsBar{
    background-color: rgb(240,240,240);
    padding:5px;
}
.adsBarContent{
    width:100%;
    max-width:1300px;
    margin:auto;
}
.adsBarContent a {
    text-decoration: none;
    color:var(--primary-color);
    font-size: 13px;
    font-weight: bolder;
}
.headerContent .logo {
    width:150px;
}
.headerContent{
    width:100%;
    max-width: 1300px;
    margin:auto;
    padding:10px;
    display:flex;
}
.headerContent > a{
    flex:1
}
header .formContainer{
    display:flex;
    align-items: baseline;
    flex:3;
    flex-wrap: wrap;
}
header input {
    outline: none;
    width:100%;
    height:40px;
    border:none;
    background-color: rgb(240,240,240);
    padding:10px;
}
.accontContainer{
    flex:1;
    display:flex;
}
header .inputWrapper{
    width:100%;
    max-width: 400px;
    display:flex;
    align-items: center;
}
header .i-search {
    background-color:rgb(240,240,240);
    transform: translateX(-30px);
    cursor: pointer;
}
.setStore a{
    /* text-decoration: none; */
    color:black;
    font-weight: bold;
}
.setStore{
    font-size: 14px;
}
.iconBox{
    display:flex;
    align-items: center;
    margin-left:15px;
    font-size:14px;
}
.arrow-bottom{
    
}
header .listContainer{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:10px 10px 0 10px;
}
.listContainer >.listBox{
    display:flex;
}
